[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lrozewicz
[access "refs/for/refs/*"]
	read = group user/lrozewicz
	push = group user/lrozewicz
	label-Code-Review = -2..+2 group user/lrozewicz
	label-Verified = -1..+1 group user/lrozewicz
	rebase = group user/lrozewicz
	removeReviewer = group user/lrozewicz
	submit = group user/lrozewicz
[access "refs/heads/*"]
	read = group user/lrozewicz
	create = group user/lrozewicz
	push = +force group user/lrozewicz
	pushMerge = group user/lrozewicz
[access "refs/tags/*"]
	push = group user/lrozewicz
	push = +force group user/lrozewicz
