<mat-card>
    <mat-card-title>{{ authorName }} {{ photoID }}</mat-card-title>
 
  <ul id="infinite-scroller" appInfiniteScroller scrollPerecnt="70" [immediateCallback]="true" [scrollCallback]="scrollCallback">
    <li *ngFor="let item of photos">
      <div class="photo-frame"><img [src]="item.url_q" class="photo" /></div>
      <div class="photo-desc">
        <div><span>Tytuł:</span> {{item.title}}</div>
        <div><span>Autor:</span> {{item.ownername}}</div>
        <div><span>Data:</span> {{item.datetaken}}</div>
      </div>
      
    </li>
  </ul>
</mat-card>

