<mat-card>
  <div [ngClass]="{hide: error == 0 || errorMessage != ''}"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
  <div *ngIf="errorMessage.length == 0; else errorBox">
  <mat-card-title>{{ authorName }}</mat-card-title>
 
  <ul id="infinite-scroller" appInfiniteScroller scrollPerecnt="70" [immediateCallback]="true" [scrollCallback]="scrollCallback" [ngClass]="{hide: error == 1}">
    <li *ngFor="let item of photos">
      <div class="photo-frame"><img [src]="item.url_q" class="photo" /></div>
      <div class="photo-desc">
        <div><span>Tytuł:</span> {{item.title}}</div>
        <div><span>Autor:</span> {{item.ownername}}</div>
        <div><span>Data:</span> {{item.datetaken}}</div>
      </div>
      
    </li>
  </ul>
</div>
<ng-template #errorBox><div class="error"> {{ errorMessage }} </div></ng-template>
</mat-card>

